In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/junemp/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/home/junemp/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [3]:
dates = pd.date_range('20130101', periods=6)

In [6]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2013-01-01  0.505200 -0.356151 -0.288294  0.332916
2013-01-02 -0.682739 -0.115707 -0.212878 -0.631888
2013-01-03  0.330699  0.493844 -2.371257 -0.844785
2013-01-04  0.020721 -0.478092  0.461368 -0.273457
2013-01-05 -0.501487 -0.074954  1.508378  0.799232
2013-01-06 -0.045094  0.427147 -0.502393 -1.130346

In [10]:
df[0:3]

                   A         B         C         D
2013-01-01  0.505200 -0.356151 -0.288294  0.332916
2013-01-02 -0.682739 -0.115707 -0.212878 -0.631888
2013-01-03  0.330699  0.493844 -2.371257 -0.844785

In [17]:
df.loc[:]

                   A         B         C         D
2013-01-01  0.505200 -0.356151 -0.288294  0.332916
2013-01-02 -0.682739 -0.115707 -0.212878 -0.631888
2013-01-03  0.330699  0.493844 -2.371257 -0.844785
2013-01-04  0.020721 -0.478092  0.461368 -0.273457
2013-01-05 -0.501487 -0.074954  1.508378  0.799232
2013-01-06 -0.045094  0.427147 -0.502393 -1.130346

In [19]:
dict_v = {'1': 90, '2':80, '3':100}
dict_v

{'1': 90, '2': 80, '3': 100}

In [45]:
sorted(dict_v.items(), key=operator.itemgetter(1), reverse=True)[:2]

[('3', 100), ('1', 90)]

In [43]:
?sorted